body {
	background: #282c34;
}

#container {}

#append-button {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	background-color: #1d2025;
	border: none;
	font-size: 1em;
	width: 1vw;
	padding: 0.5em 1em;
	color: #abb2bf;
}

.profile {
	background: #1d2025;
	margin: auto;
	padding: 5px;
	margin-top: 10px;
}

.profile p {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-right: 1px;
	margin-left: 1px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.profile textarea {
	background: #282c34;
	border: none;
	resize: none;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-right: 1px;
	margin-left: 1px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.profile .close-button {
	display: inline-block;
	float: right;
	background-color: #1d2025;
	vertical-align: middle;
	text-align: right;
	margin-right: 20px;
	font-size: 1.2em;
	font-family: "Lucida Console", "Courier New", monospace;
}

.profile .profile-button {
	background-color: #282c34;
	padding: 0.0625em 0.25em;
}

.profile .descriptor {
	color: #5c6370;
	padding-left: 20px;
}

.profile .attribute {
	padding-left: 5px;
	font-size: 1.2em;
}
